<footer class="site-footer">

  <div class="wrapper ptxl">

    <div class="txt-c ptxl">
      <ul class="social-media-list horizontal-list">
        <li>
          <a href="https://github.com/jenndodd">
            <span class="social-icon  icon--github">
              <svg viewBox="0 0 16 16">
                <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/jenndodd">
            <span class="social-icon  icon--twitter">
              <svg viewBox="0 0 60 60" >
                <path fill="#4099FF" d="M30.043,0C13.451,0,0,13.432,0,30s13.451,30,30.043,30c16.592,0,30.043-13.432,30.043-30S46.636,0,30.043,0z
                   M47.23,19.516c-0.15,0.253-0.928,1.139-1.755,1.95c-1.404,1.392-1.48,1.544-1.48,2.709c0,1.798-0.854,5.545-1.705,7.596
                  c-1.58,3.849-4.967,7.824-8.353,9.825c-4.765,2.811-11.11,3.519-16.453,1.873c-1.781-0.557-4.84-1.975-4.84-2.229
                  c0-0.075,0.928-0.177,2.057-0.203c2.357-0.05,4.715-0.708,6.722-1.873l1.354-0.81l-1.555-0.531c-2.207-0.761-4.188-2.507-4.69-4.153
                  c-0.15-0.532-0.1-0.558,1.304-0.558l1.455-0.025l-1.229-0.581c-1.455-0.735-2.784-1.976-3.436-3.242
                  c-0.477-0.911-1.079-3.215-0.903-3.393c0.05-0.076,0.577,0.076,1.179,0.278c1.73,0.633,1.956,0.481,0.953-0.583
                  c-1.881-1.924-2.458-4.785-1.555-7.494l0.426-1.216l1.655,1.646c3.386,3.317,7.374,5.292,11.939,5.874l1.254,0.152l-0.075-1.24
                  c-0.227-3.216,1.755-6.153,4.891-7.292c1.154-0.405,3.11-0.456,4.39-0.101c0.502,0.152,1.454,0.659,2.131,1.114l1.229,0.835
                  l1.354-0.43c0.752-0.228,1.756-0.607,2.206-0.86c0.428-0.229,0.804-0.355,0.804-0.279c0,0.431-0.929,1.899-1.707,2.71
                  c-1.053,1.139-0.752,1.241,1.38,0.48C47.456,19.035,47.481,19.035,47.23,19.516z"/>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/jenndodd">
            <span class="social-icon  icon--linkedin">
              <svg viewBox="0 0 60 60" >
                <path fill="#007BB6" d="M30,0C13.68,0,0.449,13.432,0.449,30S13.68,60,30,60s29.551-13.432,29.551-30S46.32,0,30,0z M22.468,44.137
                  h-6.688V23.71h6.688V44.137z M19.125,20.922h-0.042c-2.245,0-3.697-1.57-3.697-3.531c0-2.002,1.496-3.528,3.783-3.528
                  s3.697,1.526,3.74,3.528C22.909,19.352,21.456,20.922,19.125,20.922z M46.584,44.137h-6.687V33.209c0-2.746-0.968-4.619-3.389-4.619
                  c-1.847,0-2.948,1.263-3.431,2.482c-0.178,0.438-0.221,1.047-0.221,1.657v11.408h-6.688c0,0,0.088-18.511,0-20.427h6.688v2.893
                  c0.888-1.391,2.477-3.374,6.027-3.374c4.4,0,7.699,2.92,7.699,9.195V44.137z"/>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="https://dribbble.com/jenndodd">
            <span class="social-icon  icon--dribbble">
              <svg viewBox="0 0 60 60">
                <path fill="#EA4C89" d="M30.939,29.943c0.188-0.063,0.379-0.121,0.568-0.176c-0.362-0.832-0.757-1.665-1.17-2.487
                  c-7.421,2.256-14.543,2.094-14.798,2.083c-0.004,0.157-0.012,0.31-0.012,0.467c0,3.759,1.397,7.186,3.693,9.777
                  C19.216,39.601,23.161,32.496,30.939,29.943z"/>
                <path fill="#EA4C89" d="M32.395,32.224c-8.504,3.01-11.282,9.075-11.312,9.142c2.447,1.932,5.516,3.098,8.859,3.098
                  c1.996,0,3.897-0.413,5.627-1.16c-0.213-1.278-1.051-5.76-3.078-11.111C32.457,32.203,32.426,32.212,32.395,32.224z"/>
                <path fill="#EA4C89" d="M29.144,25.027c-2.495-4.5-5.16-8.172-5.352-8.432c-4.019,1.927-7.019,5.687-7.955,10.218
                  C16.217,26.817,22.223,26.894,29.144,25.027z"/>
                <path fill="#EA4C89" d="M39.461,18.848c-2.538-2.271-5.87-3.649-9.52-3.649c-1.171,0-2.308,0.144-3.396,0.41
                  c0.216,0.294,2.923,3.94,5.388,8.536C37.372,22.075,39.426,18.902,39.461,18.848z"/>
                <path fill="#EA4C89" d="M29.775,0C13.455,0,0.225,13.432,0.225,30s13.23,30,29.551,30s29.551-13.432,29.551-30S46.096,0,29.775,0z
                   M46.476,33.279c-0.223,1.104-0.552,2.186-0.983,3.221c-0.422,1.017-0.945,1.996-1.557,2.91c-0.604,0.908-1.297,1.76-2.06,2.535
                  c-0.764,0.773-1.604,1.477-2.497,2.092c-0.901,0.617-1.867,1.148-2.867,1.58c-1.02,0.437-2.087,0.771-3.17,0.997
                  c-1.113,0.233-2.258,0.352-3.4,0.352c-1.144,0-2.288-0.118-3.398-0.352c-1.085-0.226-2.153-0.561-3.171-0.997
                  c-1-0.432-1.967-0.963-2.868-1.58c-0.893-0.615-1.733-1.318-2.496-2.092c-0.763-0.775-1.457-1.627-2.061-2.535
                  c-0.608-0.914-1.132-1.894-1.556-2.91c-0.432-1.035-0.763-2.117-0.986-3.221c-0.226-1.129-0.341-2.288-0.341-3.449
                  c0-1.161,0.115-2.323,0.341-3.45c0.223-1.103,0.554-2.187,0.986-3.22c0.423-1.018,0.948-1.998,1.556-2.912
                  c0.604-0.909,1.297-1.759,2.061-2.536c0.762-0.773,1.603-1.475,2.496-2.089c0.902-0.62,1.868-1.151,2.868-1.583
                  c1.019-0.438,2.086-0.773,3.171-0.997c1.111-0.231,2.255-0.348,3.398-0.348c1.143,0,2.287,0.117,3.4,0.348
                  c1.083,0.224,2.15,0.56,3.17,0.997c1,0.432,1.966,0.963,2.867,1.583c0.893,0.614,1.733,1.316,2.497,2.089
                  c0.763,0.777,1.456,1.627,2.06,2.536c0.611,0.914,1.135,1.894,1.557,2.912c0.432,1.033,0.761,2.118,0.983,3.22
                  c0.229,1.127,0.345,2.289,0.345,3.45C46.82,30.991,46.704,32.15,46.476,33.279z"/>
                <path fill="#EA4C89" d="M35.19,31.514c1.891,5.275,2.659,9.57,2.806,10.452c3.236-2.218,5.535-5.737,6.176-9.815
                  C43.875,32.053,39.843,30.757,35.19,31.514z"/>
                <path fill="#EA4C89" d="M33.043,26.325c0.334,0.698,0.658,1.408,0.957,2.122c0.107,0.256,0.211,0.507,0.312,0.758
                  c4.951-0.632,9.829,0.432,10.037,0.475c-0.032-3.469-1.254-6.652-3.277-9.145C41.045,20.574,38.734,23.965,33.043,26.325z"/>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="mailto:dodd.jl@gmail.com">
            <span class="social-icon  icon--mail">
              <svg viewBox="0 0 60 60">
                <path fill="#333333" d="M29.775,0C13.455,0,0.225,13.432,0.225,30s13.23,30,29.551,30s29.551-13.432,29.551-30S46.096,0,29.775,0z
                   M46.21,20L30.492,32.455L14.774,20H46.21z M13.771,20l12.174,11.637l-12.174,8.939V20z M13.771,42l13.814-8.793l2.907,2.777
                  l2.907-2.777L47.213,42H13.771z M47.213,40.576l-12.174-8.938L47.213,20V40.576z"/>
              </svg>
            </span>
          </a>
        </li>
      </ul>

    </div>
    <p class="txt-c ptl"> Made with &#10084 in Brooklyn, NY </p>
  </div>

</footer>