---
title: Jenn Dodd
---

<div class="ptxxxl txt-c">

  <h1 class="ginormous">Hi, I'm Jenn Dodd.</h1>

  <p>I'm a product designer currently working at <a href="http://pivotallabs.com/">Pivotal Labs</a> in NYC.</p>
  <p>I love solving problems, building the right products, and designing for delight.</p>

</div>

