<div class="ptxl">
  <p class="txt-c pbxl">When I'm not designing digital products, I spend a lot of time making physical ones. Paper is one of my biggest passions.</p>

  <ul class="projects">
    <li class="span4 piece">
      <img src="images/papercut.jpg" alt="papercuts">
      <a class="caption" href="papercuts.html"> 
        <h2>Papercuts</h2>
        <p>I'm pretty sure I keep Xacto blades in business. These are hand cut maps that abstract some of our most familiar cities.</p>
      </a>
    </li>
    <li class="span4 piece">
        <img src="images/Gin.jpg" alt="papercuts">
        <a class="caption" href="ginJenn.html"> 
          <h2>Gin at Jenn's</h2>
          <p>I designed the invitations and drink cards for a cocktail party I threw. It was all about gin!</p>
        </a>
    </li>
    <li class="span4 piece">
      <img src="images/mail.jpg" alt="cards">
      <a class="caption" href="realMail.html"> 
        <h2>Real Mail</h2>
        <p>  I have a love affair with paper. I want to go back to the days where people sent hand written notes to each other through the mail. I want real mail. These are a few things I have made that want to be stamped.</p>
      </a>
    </li>
    <div class="clear"></div>
  </ul>
</div>